body,
html {
  font-family: "Quicksand", sans-serif !important;
}

main {
  min-height: 80vh;
}

.boldFont {
  font-family: "Quicksand", sans-serif;
}

h3 {
  padding: 1rem 0;
}
.rating span {
  margin: 0.1rem;
}

.navbar-toggler {
  border: none !important;
}
